form.form
  div.form__content
    span.form__title Вход
    div.form__labels
      label.form__label
        input.input
        span.placeholder Логин
      label.form__label
        input.input
        span.placeholder Пароль
  div.form__buttons
    button.button.button_primary Авторизоваться
    button.button.button_secondary Нет аккаунта?