.error {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    color: $black;
  }

  &__description {
    margin-bottom: 70px;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: $black;
  }

  &__link {
    font-weight: 500;
    font-style: normal;
    font-size: 11px;
    line-height: 11px;
    color: $blue;
  }
}
