.input {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: $black;
  padding: 7px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid $blue;

  &::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #999;
  }

  .isError & {
    border-color: $red;
  }
}
