form.form
  div.form__content
    span.form__title Вход
    div.form__labels
      label.form__label
        input.input
        span.placeholder Логин
      label.form__label
        input.input
        span.placeholder Пароль
  div.form__buttons
    a(class='button button_primary' href="./pages/chat.pug") Авторизоваться
    a(class='button button_secondary' href="./pages/singin.pug") Нет аккаунта?
    a(class='button button_secondary' href="./pages/404.pug") 404
    a(class='button button_secondary' href="./pages/500.pug") 500
    //- button.button.button_primary Авторизоваться
    //- button.button.button_secondary Нет аккаунта?