div.chat
  div.chat__sidebar
    div.chat__wrapper
      button.chat__profile
        span Профиль
        img(src="/assets/arrow.png", alt="Иконка")
    input(class='chat__search' type="text")
    div.chat__people
      div.chat__person
        div.chat__person__container
          div.chat__person__avatar
            img(src="/assets/avatar.png", alt="Аватар")
          div.chat__person__info
            span.chat__person__name Илья
            span.chat__person__message Друзья, у меня для вас особенный выпуск новостей!...
          div.chat__person__block
            span.chat__person__time 10:49
            div.chat__person__count
              span 2
      div.chat__person
        div.chat__person__container
          div.chat__person__avatar
            img(src="/assets/avatar.png", alt="Аватар")
          div.chat__person__info
            span.chat__person__name Киноклуб
            span.chat__person__message В 2008 году художник Jon Rafman  начал собирать...
          div.chat__person__block
            span.chat__person__time Пт
      div.chat__person.chat__person_select
        div.chat__person__container
          div.chat__person__avatar
            img(src="/assets/avatar.png", alt="Аватар")
          div.chat__person__info
            span.chat__person__name Design Destroyer
            span.chat__person__message Изображение
          div.chat__person__block
            span.chat__person__time Пн
  div.chat__content
    div.chat__header
      div.chat__header__person
        div.chat__header__avatar
          img(src="/assets/avatar.png", alt="Аватар")
        span.chat__header__name Вадим
      button.chat__header__setup
    div.chat__messages
      div.chat__messages__timeline
        span 19 июня
      div.chat__messages__container
        div.chat__messages__left
          include components/message
        div.chat__messages__right
          include components/message-my
    div.chat__footer
      label(class='chat__attachment') 
        input(type="file")
      input(class='chat__input' type="text" placeholder='Сообщение')
      button.chat__send
