.button {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #fff;
  background: $blue;
  border-radius: 8px;
  padding: 12px;
  height: 37px;
  width: 100%;
  cursor: pointer;
}
