form.form
  div.form__content
    span.form__title Регистрация
    div.form__labels 
      label.form__label
        input.input
        span.placeholder Почта
      label.form__label
        input.input
        span.placeholder Логин
      label.form__label
        input.input
        span.placeholder Имя
      label.form__label
        input.input
        span.placeholder Фамилия
      label.form__label
        input.input
        span.placeholder Телефон
      label.form__label
        input.input
        span.placeholder Пароль
      label.form__label
        input.input
        span.placeholder Пароль (ещё раз)
  div.form__buttons
    button.button.button_primary Зарегистрироваться
    button.button.button_secondary Войти