.chat {
  display: flex;
  width: 100%;
  height: 100%;

  &__sidebar {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    width: 100%;
    background-color: #fbfbfb;
  }

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 20px 10px;
  }

  &__profile {
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;

    span {
      margin-right: 8px;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      color: #999999;
    }
  }

  &__search {
    padding: 10px;
    margin: 0 10px;
    text-align: center;
    background-color: #efefef;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 14px;
    height: 32px;

    &::placeholder {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      color: #999999;
    }
  }

  &__people {
    display: flex;
    flex-direction: column;
  }

  &__person {
    display: flex;

    &__container {
      display: flex;
      padding: 10px 0;
      margin: 0 10px;
      width: 100%;
      border-top: 1px solid #eaeaea;
    }

    &__avatar {
      width: 47px;
      height: 47px;
      border-radius: 50%;
      margin-right: 10px;

      img {
        display: block;
        object-fit: cover;
        width: 100%;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      max-width: 193px;
      width: 100%;
    }

    &__name {
      margin-bottom: 4px;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 13px;
      color: #1e1e1e;
    }

    &__message {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: #999999;
    }

    &__block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      flex: 1;
    }

    &__time {
      font-style: normal;
      font-weight: 500;
      font-size: 9px;
      line-height: 13px;
      color: #999999;
    }

    &__count {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #3369f3;

      span {
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 12px;
        color: #ffffff;
      }
    }

    &_select {
      background-color: #e4edfd;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 11px 20px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    height: 54px;
    border-bottom: 1px solid #eaeaea;

    &__person {
      display: flex;
      align-items: center;
    }

    &__avatar {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      margin-right: 10px;

      img {
        display: block;
        object-fit: cover;
        width: 100%;
      }
    }

    &__name {
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 13px;
      color: #1e1e1e;
    }

    &__setup {
      width: 3px;
      height: 15px;
      padding: 0;
      border: none;
      background-color: transparent;
      background-image: url('../assets/setup.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
    }
  }

  &__messages {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__timeline {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;

      span {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        color: #999999;
      }
    }

    &__container {
      display: flex;
      height: 100%;
      padding: 30px 0;
    }

    &__left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      flex: 1;
    }

    &__right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      flex: 1;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    height: 54px;
    border-top: 1px solid #eaeaea;
  }

  &__attachment {
    width: 32px;
    height: 32px;
    background-image: url('../assets/attachment.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;

    input {
      position: absolute;
      z-index: -100;
      appearance: none;
      opacity: 0;
    }
  }

  &__input {
    background: #efefef;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    outline: none;
    width: 100%;
    margin: 0 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #1e1e1e;

    &::placeholder {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      color: #999999;
    }
  }

  &__send {
    max-width: 28px;
    min-width: 28px;
    height: 28px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url('../assets/back.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg);
    cursor: pointer;
  }
}
