.message {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background: #f8f8f8;
  padding: 11px;
  border-radius: 10px;
  max-width: 400px;
  width: max-content;

  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #1e1e1e;
  }

  &__info {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    width: 100%;
  }

  &__icon {
    img {
      display: block;
      object-fit: cover;
      width: 100%;
    }
  }

  &__time {
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
    color: #999999;
  }

  &_my {
    flex-direction: row;
    background: #e4edfd;

    .message__info {
      margin-left: 14px;
    }

    .message__time {
      color: #3369f3;
    }
  }
}
