.sidebar {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 100vh;
  background-color: #fbfbfb;
  border-right: 1px solid #eaeaea;

  &__button {
    width: 28px;
    height: 28px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url('../assets/back.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
}
