@import "./colors";
@import "./ui/button";
@import "./ui/input";
@import "./ui/link";
@import "./modules/auth";
@import "./modules/chat";
@import "./modules/error";
@import "./modules/profile";

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  background-color: $white;
}

a {
  text-decoration: none;
}

button {
  appearance: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100vh;
  min-width: 320px;
}
