.input {
  outline: none;
  border: none;
  width: 100%;
  padding: 7px 0;
  border-bottom: 1px solid #3369f3;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #1e1e1e;
}

.placeholder {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #999999;

  &_active {
    transform: translate(-4px, -180%) scale(0.8);
  }
}

.button {
  text-align: center;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  cursor: pointer;

  &_primary {
    padding: 12px 0;
    max-width: 280px;
    width: 100%;
    background-color: #3369f3;
    border-radius: 8px;
    color: #ffffff;
  }

  &_secondary {
    padding: 0;
    background-color: transparent;
    color: #3369f3;
  }

  &_warning {
    padding: 0;
    background-color: transparent;
    color: #ff0000;
  }
}
