extends ../base/main.pug

block content
  div.profile
    div.profile__content
      div.profile__avatar
        img(src="../assets/avatar.png", alt="Аватар")
      span.profile__name Иван
    div.profile__info
      div.profile__block
        div.profile__row
          span.profile__data Старый пароль
          input(class='profile__input' type='password' value='111111' name='oldPassword') 
        div.profile__row
          span.profile__data Новый пароль
          input(class='profile__input' type='password' value='22222222' name='newPassword') 
        div.profile__row
          span.profile__data Повторите новый пароль
          input(class='profile__input' type='password' value='22222222' name='newPassword') 
      div.profile__block
        button.button.button_primary Сохранить
  include ../modules/sidebar
  script(src="../scripts/profile.js" type="module")