include ../profile-item/profile-item

form.profile__container
  .profile__header
    .profile__avatar
  .profile__main
    +profileItem('Старый пароль')
      | !{ oldPassword }
    +profileItem('Новый пароль')
      | !{ newPassword }
    +profileItem('Повторите новый пароль')
      | !{ newPasswordRepeat }
  .profile__footer
    | !{ saveButton }
