mixin message(message, type)
  .chat__message(
    class=type === 'inbox' ? 'chat__message__inbox' : 'chat__message__outbox'
  )= message.content
    span.chat__message__info
      if message.is_read === true
        span.chat__message__sended
      time.chat__message__date= message.time
